@media only screen and (max-width: 768px) {
    header .container .row .col-md-12.col-sm-12 h6 {
        font-size: 2.3rem;
        font-weight: 200;
    }
    header .container .row .col-md-12.col-sm-12 p{
        font-size: 0.8rem;
    }
    .services .row .col-sm-4 .number_under .icon_up {
        position: absolute;
        z-index: 2;
        top: 48%;
        left: 43%;
    }
    .about_us .row .col-lg-4.col-md-12.about-title {
        padding-top: 2vmin;
    }
    .about_us .row .col-lg-4.col-md-12.about-title h2{
        text-align: center;
    }
    .about_us .row .col-lg-4.col-md-12.about-title button{
       margin: 2vmin 0vmin;
    }
    .about_us .screen{
        width: 70%;
    }
    section.client .row .col-md-2.col-6{
        padding: 3vmin 5vmin;
    }
    .advertise h1{
        font-size: 30px;
        
    }
}
