@media only screen and (min-device-width:768px)and (max-device-width:1024px) {

	.services .row .col-sm-4 .number_under .icon_up {
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 40%;
    }
    .footer button.btn.btn-light.px-3.py {
        font-size: 10px;
    }
}